<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head')%>
  <body>
    <%- include('partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
    <!-- Bootstrap JS -->
    <%- include('partials/_footer')%>
  </body>
</html>