<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/_head')%>
  <body>
    <%- include('../partials/_header') %>
    <div class="card text-center">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">TinyURL for: <%= longURL %></h5>
        <p class="card-text">
          Short URL ID: <a href="/u/<%= id %>" target="_blank"><%= id %></a>
        </p>
      </div>
      <div class="card-footer text-muted">
        <h4 class="card-title">Edit</h4>
        <form method="POST" action="/urls/<%= id %>">
          <label for="field">New URL:</label>
          <input type="text" id="field" name="field" placeholder="<%= longURL %>"/>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <%- include('../partials/_footer')%>
  </body>
</html>